@model IEnumerable<BlueModasWeb.UI.Web.Models.Produto>
@{ Layout = "_Layout";}

<!--Section: Block Content-->
<section>
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        @foreach (var produto in Model)
        {
            <div class="col-md-4 mb-4">
                <!-- Card -->
                <div class="card" style="width: 18rem;">
                    <img src="~/images/semimagem.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="text-center pt-4">
                            <h5>@produto.Nome</h5>
                            <p class="mb-2 text-muted text-uppercase small">@produto.TipoPublicoAlvoCategoria.Categoria.Nome</p>
                            <hr>
                            <h6 class="mb-3">R$ @produto.ValorUnitario</h6>
                            <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
                                <i class="fas fa-shopping-cart pr-2"></i>Adicionar ao carrinho
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
        }
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
</section>
<!--Section: Block Content-->