<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

    <link rel="icon" href="~/images/bluemodas.jpg">
    <title>Blue Modas - Tudo pra você andar na moda</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar-font">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">
            <img class="rounded-circle" src="~/images/bluemodas.jpg" height="100px" />
        </a>
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav" id="divTipoPublicoAlvo"></ul>
        </div>
        <div class="justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" role="button" onclick="abrirCarrinho()">
                        Carrinho <i class="fas fa-shopping-cart"></i>
                        <span class="badge badge-danger" id="spnQtdCarrinho">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div aria-live="polite" aria-atomic="true" style="position: relative; margin-top: 150px;">
        <div style="position: absolute; top: 0; right: 0;">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1000">
                <div class="toast-header">
                    <strong class="mr-auto">Olá</strong>
                </div>
                <div class="toast-body" id="mensagemToast"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-light fixed-footer">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Siga-nos nas redes sociais!</h6>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f white-text mr-4"> </i>
                    </a>
                    <a class="ins-ic">
                        <i class="fab fa-instagram white-text"> </i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center">
            © 2020 Copyright: Blue Modas
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    (function() {
        $.get("@Url.Action("TipoPublicoAlvoDropDownList", "TipoPublicoAlvo")").done(function(data) {
            if (data)
                $("#divTipoPublicoAlvo").html(data);
        });
    })();

    function abrirCarrinho() {
        if (!lstItensCarrinho.length) {
            $("#mensagemToast").text("Você ainda não iniciou suas compras!");
            $(".toast").toast("show");
            return;
        }

        var carrinho = {
            CarrinhoItens: []
        }

        lstItensCarrinho.map(function (item) {
            item = JSON.parse(item);
            carrinho.CarrinhoItens.push({
                Produto: {
                    ProdutoId: item.produtoId,
                    Nome: item.nome,
                    UrlImagem: item.urlImagem,
                    ValorUnitario: item.valorUnitario
                }
            });
        });

        $.post("@Url.Action("Carrinho", "Carrinho")", carrinho).done(function(data) {
            if (data) {
                $("#divProdutos, #divFinalizarCompra").slideUp("fast",
                    function () {
                        $("#divTipoPublicoAlvo").hide();
                        $("#divCarrinho").html(data).slideDown("fast");
                    });
            }
        });
    }
</script>
